<div id="searchBar">
  <%= form_tag search_results_path, method: "get" do %>
    <%= label_tag(:user_keywords, 'Search: ') %>
    <%= text_field_tag(:user_keywords) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>