<%= paginate @items %>
<% if(@items.size < 1) %>
  <p class="item">No Items</p>
<% else %>
  <% @items.each do |item| %>
    <div class="item">
      <%= render item %>
      <span><%= link_to 'Show', item %></span>
      <%# If in the view cart, add a delete from cart option%>
    </div>
  <% end %>
<% end %>