// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$basic-border: 1px solid black;

.left
{
  float:left;
  border-style:solid;
  border-width:1px;
  padding: 3px;
}
#header
{
  border-bottom-style:solid;
  border-bottom-width: 3px;
  margin: 5px;
}
.item
{
  border: $basic-border;
  width: 400px;
  height: 20px;
  padding: 5px;
  margin:auto;
}
tbody
{
  border-style:solid;
  border-width:2px;
}
#new_user
{
  width: 400px;
  margin:auto;
  label
  {
    text-align: right;
  }
}
#user_keywords
{
  width: 250px;
}
#my_options
{
  height: 30px;
}
#searchBar
{
  label
  {
    background-color: grey;
    border: $basic-border;
    margin-right: 5px;
    padding: 7px;
  }
}